@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.name {
  color: black;
}

h1 {
  color: black;
  font-size: 2vw;
}

footer {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
contacts {
  margin-left: 8vw;
}
a {
  padding: 20px
}
